@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'RobotoSlab-Regular';
	src: url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.ttf');
}

body {
	margin: 0;
	padding: 0;
	font-size: 10px;
}

.container {
	margin: 0 auto;
	width: 940px;
}

header {
	background: url("../images/Background.png") no-repeat;
	background-position: top;
	margin: 0;
	padding: 0;
}

header .container {
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-flow: column;
	/* border: 1px solid yellow; */
}

.menuAndLogo {
	/* height: 120px; */
	flex: 1;
	display: flex;
	align-items: center;
	padding-top: 2px;
	/* border: 1px solid yellow; */
}

.menu {
	/* float: right; */
	width: 51%;
	margin: 0;
	padding: 0 1px 1px 0;
	list-style: none;
	display: inline-flex;
	justify-content: space-between;
	font-family: Montserrat-Regular;
	font-size: 14px;
	/* border: 1px solid green; */
}

.menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

.menu li:nth-child(3) {
	padding-right: 1px;
}

.menu li:nth-child(4) {
	padding-right: 1px;
}

.logo {
	/* float: left;	 */
	/* width: 48.6%; */
	flex-grow: 1;
}

.logo img {
	padding-left: 7px;
	padding-bottom: 2px;
}

.home {
	color: #FFF;
	flex: 5;
}

.home__articleAndButton {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;	
	padding-top: 38px;
}

.home__articleAndButton p {
	font-family: RobotoSlab-Regular;
	font-size: 40px;
	letter-spacing: -1px;
	word-spacing: 1px;
	margin: 0 auto;
	padding-top: 2px;
}

.home__articleAndButton h1 {
	font-family: Montserrat-Bold;
	font-size: 75px;
	text-transform: uppercase;
	word-spacing: 1px;
	letter-spacing: -2px;
	margin: 22px auto 40px auto;
}

.home__articleAndButton button {
	font-family: Montserrat-Bold;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	padding: 22px 49px 22px;
	margin-bottom: 50px;
	background-color: #ffcc33;
	border: none;
	border-radius: 3px;
}

.services {
	height: 568px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	font-family: RobotoSlab-Regular;
	text-align: center;
	margin: 0;
	padding: 0;
}

.services h2, .services h3 {
	font-family: Montserrat-Bold;
}

.services_title {
	margin: 0;
	padding: 106px 0 40px;
}

.services_title h2 {
	text-transform: uppercase;
	font-size: 40px;
	padding: 0;
	margin: 0;
	padding-top: 4px;
	letter-spacing: -1px;
}

.services_title p {
	font-size: 16px;
	padding: 0;
	margin: 0;
	padding-top: 6px;
	padding-right: 3px;
}

.services_list {
	padding: 0 2px;
	padding-top: 36px;
}

.services_list ol {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.services_list li {
	flex: 0 1 276px;
}

.services_list h3 {
	font-size: 18px;
	padding: 0;
	margin: 0;
	padding-top: 18px;
	padding-left: 6px;
	word-spacing: -1px;
	letter-spacing: -0.01em;
}

.services_list p {
	font-size: 13px;
	line-height: 22px;
	word-spacing: 1px;
	margin: 0;
	padding-top: 10px;
}

section:nth-child(3) {
	background-color: #f7f7f7;
}